<!DOCTYPE html>
<head>
<form action="/motor" method="POST">
    <label for="brand">Brand:</label><br>
    <input type="text" id="brand" name="brand"><br>
    <input type="submit" value="Submit">
</form>
<div>
    <%merk.each do |merks| %>
      
    <% end %>
</div>
</head>
</html>